/target/
/logs/
/log/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar
/.jpb/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/nb-configuration.xml
/*.log
/*.gz
/*.tern-project

### Visual Studio Code ###
/.vscode

### Sonar ###
/.scannerwork/
